In [49]:
import requests as rq
import pandas as pd
from bs4 import BeautifulSoup as bs
import numpy as np

In [50]:
df1 = pd.read_csv("2022-2018.csv")
df2 = pd.read_csv("2018-2008.csv")
df3 = pd.read_csv("2008-1998.csv")
df4 = pd.read_csv("1998-1993.csv")
df5 = pd.read_csv("1993-1988.csv")
df6 = pd.read_csv("1988-1983.csv")
df7 = pd.read_csv("1983-1978.csv")
df8 = pd.read_csv("1978-1973.csv")
df9 = pd.read_csv("1973-1968.csv")
df10 = pd.read_csv("1968-1963.csv")
df11 = pd.read_csv("1963-1958.csv")

In [51]:
DFlist = [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11]

should = df1.shape[0]

for DF in DFlist:
    df1 = df1.append(DF)
    should = should + DF.shape[0]

/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)
/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)
/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)
/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)
/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)
/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)
/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)
/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)
/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)
/var/folders/zb/05pykmh92cg9gsbb1776h6480000gn/T/ipykernel_6734/4279501369.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append(DF)

In [52]:
should

26463

In [53]:
df1.shape[0]

26463

In [54]:
df1.to_csv("TotalDataFrame.csv", encoding="utf-8-sig")

In [55]:
df1

,Song Name,Artist Name,Album Name,Release Date,Popularity Score,Length (ms),Grammy_won
0,About Damn Time,Lizzo,About Damn Time,2022-04-14,81.0,191822.0,1
1,Harry's House,Harry Styles,NaN,NaN,NaN,NaN,1
2,JUST LIKE THAT,subhash nandu,JUST LIKE THAT,2023-01-01,5.0,104260.0,1
3,Samara Joy,NaN,NaN,NaN,NaN,NaN,1
4,Easy On Me,Adele,Easy On Me,2021-10-14,81.0,224694.0,1
...,...,...,...,...,...,...,...
999,Victoria: Requiem Mass (Album),NaN,NaN,NaN,NaN,NaN,0
1000,Puccini: Madam Butterfly (Album),NaN,NaN,NaN,NaN,NaN,0
1001,Donizetti: Lucia De Lammermoor (Album),NaN,NaN,NaN,NaN,NaN,0
1002,Barber: Vanessa (Album),NaN,NaN,NaN,NaN,NaN,0
1003,Barber Of Seville (Album),NaN,NaN,NaN,NaN,NaN,0

In [56]:
Major = pd.read_csv("TotalDataFrame.csv")

In [57]:
Major.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26463 entries, 0 to 26462
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        26463 non-null  int64
 1   Song Name         26442 non-null  object
 2   Artist Name       15867 non-null  object
 3   Album Name        7828 non-null   object
 4   Release Date      7828 non-null   object
 5   Popularity Score  7828 non-null   float64
 6   Length (ms)       7828 non-null   float64
 7   Grammy_won        26463 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 1.6+ MB

In [58]:
#cleaning the major data frame

In [59]:
Major.describe()

         Unnamed: 0  Popularity Score   Length (ms)    Grammy_won
count  26463.000000       7828.000000  7.828000e+03  26463.000000
mean    1472.070060         29.844405  2.483597e+05      0.193440
std     1234.492026         24.847619  1.628933e+05      0.395002
min        0.000000          0.000000  4.000000e+03      0.000000
25%      551.000000          6.000000  1.874310e+05      0.000000
50%     1122.000000         27.000000  2.291430e+05      0.000000
75%     1971.500000         49.000000  2.755765e+05      0.000000
max     5218.000000         92.000000  4.726827e+06      1.000000

In [60]:
# fig, axes = plt.subplots(nrows=1, ncols=2, figsize=(15,5))

# df["Song Name"].value_counts().plot(kind = "pie", autopct='%.2f%%', ax = axes[0])
# axes[0].set_title("Percentage of Deals Per District", size  = 15)

# df["Popularity Score"].value_counts().plot(kind = "pie", autopct='%.2f%%', ax = axes[1])
# axes[1].set_title("Percentage of Deals Per Room Number", size  = 15)

In [61]:
Major.to_csv("Grammy_Spotify_full_data.csv", index=False)